{% extends "base.twig" %}

{% block title %}Sign Up Page{% endblock %}

{% block header %}
    <header>
        <section class="hero is-info is-medium is-bold">
            <div class="hero-head">
                <nav class="navbar">
                    <div class="container">
                        <div class="navbar-brand">
                            <a class="navbar-item" href="{{ url_for('home') }}">
                                    <img src="{{ full_url_for('home') }}resources/Logo1.png"/>
                            </a>
                        </div>
                        <div id="navbarMenu" class="navbar-menu">
                            <div class="navbar-end">
                                <div class="tabs is-centered">
                                    <ul>
                                        <li class="is-active"><a href="{{ url_for('dash-show') }}">Account</a></li>
                                    </ul>
                                    <form action="{{ url_for('logout-post') }}" method="POST" >
                                            <span class="navbar-item">
                                                <button class="button is-light">
                                                    <span class="icon" style="color: black">
                                                        <i class="fas fa-door-open"></i>
                                                    </span>
                                                    <span title="Hello from the other side" class="has-text-black has-text-centered">Log Out</span>
                                                </button>
                                            </span>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </section>
    </header>
{% endblock %}

{% block body %}
    <section class="hero is-fullheight is-bold is-info">
        <div class="hero-body">
            <form action="{{ url_for('dash-show') }}">
                <button class="btn">
                    <i style="color: white" class="fas fa-arrow-circle-left fa-3x"></i>
                </button>
            </form>
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    {% if isLoad %}
                        <h3 class="title has-text-white">Carrega diners</h3>
                        <hr class="login-hr">
                        <div class="box">
                            <form action="{{ url_for('bank-account-load') }}" method="POST" >
                                <h3 class="title has-text-black has-text-centered">{{ iban|slice(0,4) }} {{ iban|slice(4,5)[0:2] }}</h3>
                                <hr class="login-hr">
                                <div class="field">
                                    <div>
                                        {% if moneyErr != "xd" and moneyErr is not empty%}
                                            <div class="control">
                                                <input class="input is-danger is-large has-text-black" name="money" placeholder="Dat Cash" autofocus="" value="{{ money }}">
                                            </div>
                                            <p class="has-text-danger">
                                                {{ moneyErr }}
                                            </p>
                                        {% else %}
                                            <div class="control">
                                                <input class="input is-large has-text-black" name="money" placeholder="Dat cash" autofocus="" value="{{ money }}">
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <button class="button is-block is-info is-large is-fullwidth">
                                    Afegeix
                                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                                </button>
                            </form>
                        </div>
                    {% else %}
                    <h3 class="title has-text-white">Registra el teu compte bancari</h3>
                    <hr class="login-hr">
                    <p class="subtitle has-text-white">Aprofita els avantatges associant un compte</p>
                    <div class="box">
                        <form action="{{ url_for('bank-form-submit') }}" method="POST" >
                            <div class="field">
                                <div>
                                    {% if ownerErr != "xd" and ownerErr is not empty%}
                                        <div class="control">
                                            <input class="input is-danger is-large has-text-black" name="owner_name" placeholder="Owner name" autofocus="" value="{{ owner_name }}">
                                        </div>
                                        <p class="has-text-danger">
                                            {{ ownerErr }}
                                        </p>
                                    {% else %}
                                        <div class="control">
                                            <input class="input is-large has-text-black" name="owner_name" placeholder="Owner name" autofocus="" value="{{ owner_name }}">
                                        </div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="field">
                                <div>
                                        {% if ibanErr != "xd" and ibanErr is not empty%}
                                            <div class="control">
                                                <input class="input is-danger is-large has-text-black"  name="iban" placeholder="Your IBAN" autofocus="" value={{ iban }}>
                                            </div>
                                            <p class="has-text-danger">
                                                {{ ibanErr }}
                                            </p>
                                        {% else %}
                                            <div class="control">
                                                <input class="input is-large has-text-black" name="iban" placeholder="Your IBAN" autofocus="" value="{{ iban }}">
                                            </div>
                                        {% endif %}
                                </div>
                            </div>
                            <button class="button is-block is-info is-large is-fullwidth">
                                Associar
                                <i class="fa fa-sign-in" aria-hidden="true"></i>
                            </button>
                        </form>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}