{% extends "base.twig" %}

{% block title %}Dashboard page{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ full_url_for('home') }}assets/css/dash.css"/>
{% endblock %}

{% block header %}
    <header>
        <section class="hero is-info is-medium is-bold">
            <div class="hero-head">
                <nav class="navbar">
                    <div class="container">
                        <div class="navbar-brand">
                            <a class="navbar-item" href="../">
                                <i class="fas fa-money-bill-alt"></i>
                                <p class="">Fpay</p>
                            </a>
                            <span class="navbar-burger burger" data-target="navbarMenu">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                        </div>
                        <div id="navbarMenu" class="navbar-menu">
                            <div class="navbar-end">
                                <div class="tabs is-centered">
                                    <form action="{{ url_for('logout-post') }}" method="POST" >
                                            <span class="navbar-item">
                                                <button class="button is-light">
                                                    <span class="icon" style="color: black">
                                                        <i class="fas fa-door-open"></i>
                                                    </span>
                                                    <span title="Hello from the other side" class="has-text-black has-text-centered">Log Out</span>
                                                </button>
                                            </span>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </section>
    </header>
{% endblock %}

{% block body %}
    <section class="hero is-fullheight is-bold is-info">
        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <ul id="hideMe">
                        {% for n in nots %}
                            <li style="background: limegreen; border-radius: 8px" class="box has-text-white">
                                {{ n }}
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="column is-6 is-offset-3">
                        <div class="box">
                            <div class="media">
                                <div class="media-left">
                                    <form action="{{ url_for('profile-show') }}" method="GET">
                                        <div class="avatar">
                                            <div class="image-upload">
                                                <label for="file-input">
                                                    <img src="{{ pfp }}" width="175" height="175"/>
                                                </label>
                                                <input id="file-input" type="submit"/>
                                                <p class="has-text-centered has-text-info">
                                                    <i class="fas fa-user-circle"></i>
                                                    Profile
                                                </p>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="media-content">
                                    <div class="content">
                                        <div class="field">
                                            <div class="columns">
                                                <div class="column is-7">
                                                    <div class="level-right">
                                                        <h1 class="has-text-centered title is-size-1 has-text-black">
                                                            {{ money }} €
                                                        </h1>
                                                    </div>
                                                </div>
                                                <div class="column">
                                                    <form action="{{ url_for('bank-form-show') }}" method="GET">
                                                        <div class="level-left" id="ba">
                                                            <button class="button is-large is-link">
                                                            <span class="icon">
                                                                 <i class="fas fa-plus"></i>
                                                            </span>
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <hr class="login">
                                            <p class="has-text-grey has-text-centered">
                                                {% if iban == "You have not linked your bank account yet" %}
                                                    {{ iban }}
                                                {% else %}
                                                {{ iban|slice(0,4) }} {{ iban|slice(4,4) }} {{ iban|slice(8,4) }} {{ iban|slice(12,4) }} {{ iban|slice(16,4) }} {{ iban|slice(20,4) }}
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column">
                                <form action="{{ url_for('show-send') }}" method="GET">
                                    <button class="button is-fullwidth is-large is-dark">
                                        <span style="color: limegreen" class="icon">
                                            <i class="fas fa-donate"></i>
                                        </span>
                                        <span title="Hello from the other side" class=" title has-text-centered">SEND</span>
                                    </button>
                                </form>
                            </div>
                            <div class="column">
                                <form action="{{ url_for('show-reqs') }}" method="GET">
                                    <button class="button is-fullwidth is-large is-dark">
                                        <span style="color: limegreen" class="icon">
                                            <i class="fas fa-hand-holding-usd"></i>
                                        </span>
                                        <span title="Hello from the other side" class=" title has-text-centered">REQUEST</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column">
                                <form action="{{ url_for('transactions') }}" method="GET">
                                    <button class="button is-fullwidth is-large is-dark">
                                        <span style="color: limegreen" class="icon">
                                            <i class="far fa-list-alt"></i>
                                        </span>
                                        <span title="Hello from the other side" class=" title has-text-centered">TRANSACTIONS</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column is-8 is-offset-2">
                    <hr class="login">
                    <h1 class="is-size-10 subtitle has-text-centered">{{ mail }}</h1>
                    <ul class="box">
                        {% if tss is empty %}
                            <li class="container has-text-centered subtitle has-text-black">
                                You don't have any transactions yet :(
                            </li>
                        {% else %}
                        {% for ts in tss %}

                            {% set verb = '' %}
                            {% set verb2 = '' %}
                            {% set flag = 0 %}

                            {% if ( ts.tipo == 'request' and dst[loop.index - 1] == id ) or (ts.tipo == 'send' and src[loop.index - 1] == id) %}
                                {% set flag = 1 %}
                            {% endif %}

                            {% if ts.tipo == 'request'%}
                                {% set verb = 'Request' %}
                                {% if flag == 1 %}
                                    {% set verb2 = ' from' %}
                                {% else %}
                                    {% set verb2 = ' to' %}
                                {% endif %}
                            {% else %}
                                {% set verb = 'Sent' %}
                                {% if flag == 1 %}
                                    {% set verb2 = ' to ' %}
                                {% else %}
                                    {% set verb2 = ' from' %}
                                {% endif %}
                            {% endif %}
                        <li class="container">
                            <div class="media">
                                <figure class="media-left">
                                    {% if flag == 1 %}
                                        <i style="color:red" class="fas fa-arrow-alt-circle-left fa-2x is-success"></i>
                                    {% else %}
                                        {% if ts.tipo == "in"%}
                                            <i style="color:darkblue" class="fas fa-arrow-alt-circle-down fa-2x is-success"></i>
                                        {% else %}
                                            <i style="color:limegreen" class="fas fa-arrow-alt-circle-right fa-2x is-success"></i>
                                        {% endif %}
                                    {% endif %}
                                </figure>
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            {% if ts.tipo == "in"%}
                                            <strong class="is-size-6">Desposit</strong>
                                            {% else %}
                                                <strong class="is-size-6">{{ verb }} </strong> {{ verb2 }} <strong>{{ names[loop.index - 1] }}</strong> <small class="date"> {{ ts.date|date('d-m-Y') }}</small>
                                            {% endif %}
                                            <br>
                                            {{ ts.motiu }}
                                        </p>
                                    </div>
                                </div>
                                <div class="media-right">
                                    <div class="content">
                                        {% if flag == 1 %}
                                            <h1 class="subtitle has-text-black has-text-centered">
                                                - {{ ts.money }} €
                                            </h1>
                                        {% else %}
                                            <h1 class="subtitle has-text-black has-text-centered">
                                                + {{ ts.money }} €
                                            </h1>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </li>
                        {% if not loop.last %}
                        <hr>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}