{% extends "base.twig" %}

{% block title %}Pendings Requests Page{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ full_url_for('home') }}assets/css/req.css"/>
{% endblock %}

{% block header %}
    <header>
        <section class="hero is-info is-medium is-bold">
            <div class="hero-head">
                <nav class="navbar">
                    <div class="container">
                        <div class="navbar-brand">
                            <a class="navbar-item" href="{{ url_for('home') }}">
                                <img src="{{ full_url_for('home') }}resources/Logo1.png"/>
                            </a>
                            <span class="navbar-burger burger" data-target="navbarMenu">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                        </div>
                        <div id="navbarMenu" class="navbar-menu">
                            <div class="navbar-end">
                                <div class="tabs is-centered">
                                    <form action="{{ url_for('logout-post') }}" method="POST" >
                                            <span class="navbar-item">
                                                <button class="button is-light">
                                                    <span class="icon" style="color: black">
                                                        <i class="fas fa-door-open"></i>
                                                    </span>
                                                    <span title="Hello from the other side" class="has-text-black has-text-centered">Log Out</span>
                                                </button>
                                            </span>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </section>
    </header>
{% endblock %}

{% block body %}
    <section class="hero is-fullheight is-bold is-info">
        <div class="hero-body">
            <form action="{{ url_for('show-reqs') }}">
                <button class="btn">
                    <i style="color: white" class="fas fa-arrow-circle-left fa-3x"></i>
                </button>
            </form>
            <div class="container">
                <ul id="hideMe">
                    {% for n in msgs %}
                        <li style="background: limegreen; border-radius: 8px" class="box has-text-white">
                            {{ n }}
                        </li>
                    {% endfor %}
                    {% for m in errMsgs %}
                        <li style="background: #dd0000; border-radius: 8px" class="box has-text-white">
                            {{ m }}
                        </li>
                    {% endfor %}
                </ul>
                <div class="column is-8 is-offset-2">
                    <h1 class="is-size-10 subtitle has-text-centered">{{ mail }}</h1>
                    <ul class="box">
                        {% if reqs is empty %}
                        <li class="container has-text-centered">
                            You don't have requests at the moment
                        </li>
                        {% else %}
                        {% for r in reqs %}
                            <li class="container">
                                <div class="media">
                                    <figure class="media-left">
                                        <i style="color: #ffbd00" class="fas fa-share fa-2x"></i>
                                    </figure>
                                    <div class="media-content">
                                        <div class="content" >
                                            <p>
                                                <strong class="is-size-6">{{ names[loop.index - 1] }} </strong> sent you a request <strong></strong> <small class="date"> {{ ts.date|date('d-m-Y') }}</small>
                                                <br>
                                                {{ r.motiu }}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="media-right">
                                        <div class="columns">
                                            <div class="column">
                                                <div class="content">
                                                    <h1 class="subtitle has-text-black has-text-centered">
                                                        {{ r.money }} €
                                                    </h1>
                                                </div>
                                            </div>
                                            <div class="column">
                                                <form action="{{ url_for('pending-reqs') }}/{{ r.id }}/accept" method="GET">
                                                    <button class="button is-medium is-info">
                                                        <i class="fas fa-check"></i>
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            {% if not loop.last %}
                                <hr>
                            {% endif %}
                        {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}