{% extends "base.twig" %}

{% block title %}Request Money Page{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ full_url_for('home') }}assets/css/req.css"/>
{% endblock %}

{% block header %}
    <header>
        <section class="hero is-info is-medium is-bold">
            <div class="hero-head">
                <nav class="navbar">
                    <div class="container">
                        <div class="navbar-brand">
                            <a class="navbar-item" href="{{ url_for('home') }}">
                                <img src="{{ full_url_for('home') }}resources/Logo1.png"/>
                            </a>
                        </div>
                        <div id="navbarMenu" class="navbar-menu">
                            <div class="navbar-end">
                                <div class="tabs is-centered">
                                    <form action="{{ url_for('logout-post') }}" method="POST" >
                                    <span class="navbar-item">
                                        <button class="button is-light">
                                            <span class="icon" style="color: black">
                                                <i class="fas fa-door-open"></i>
                                            </span>
                                            <span title="Hello from the other side" class="has-text-black has-text-centered">Log Out</span>
                                        </button>
                                    </span>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </section>
    </header>
{% endblock %}

{% block body %}
    <section class="hero is-fullheight is-bold is-info">
        <div class="hero-body">
            <form action="{{ url_for('dash-show') }}">
                <button class="btn">
                    <i style="color: white" class="fas fa-arrow-circle-left fa-3x"></i>
                </button>
            </form>
            <div class="container has-text-centered">
                <form action="{{ url_for('make-req') }}" method="POST">
                    <div class="column is-6 is-offset-3">
                        <div class="box">
                            <div class="columns">
                                <span class="column">
                                    <p class="has-text-left">
                                        Ammount
                                    </p>
                                    {% if moneyErr == 'xd' %}
                                        <div class="control has-icons-left">
                                                    <input id="klk" class="input is-rounded is-info is-large has-text-black" name="money2send" >
                                                    <span class="icon is-small is-left">
                                                    <i class="fas fa-euro-sign"></i>
                                                  </span>
                                                </div>
                                                {% else %}
                                        <div class="control has-icons-left">
                                                        <input id="klk" class="input is-rounded is-danger is-large has-text-black" name="money2send" >
                                                        <span class="icon is-small is-left">
                                                        <i class="fas fa-euro-sign"></i>
                                                        </span>
                                                    </div>
                                        <p class="has-text-centered has-text-danger">
                                                        {{ moneyErr }}
                                                    </p>
                                    {% endif %}
                                </span>
                                <span class="column is-two-thirds">
                                    <p class="has-text-left">
                                        Request money from:
                                    </p>
                                    {% if mailErr == 'xd' %}
                                        <div class="control has-icons-left">
                                                <input class="input is-rounded is-info is-large has-text-black" name="destinatary" type="email" placeholder="example@email.com">
                                                <span class="icon is-small is-left">
                                                <i class="fas fa-envelope"></i>
                                              </span>
                                            </div>
                                            {% else %}
                                        <div class="control has-icons-left">
                                                    <input class="input is-rounded is-danger is-large has-text-black" name="destinatary" type="email" placeholder="example@email.com">
                                                    <span class="icon is-small is-left">
                                                <i class="fas fa-envelope"></i>
                                                </span>
                                                </div>
                                        <p class="has-text-centered has-text-danger">
                                                    {{ mailErr }}
                                                </p>
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                        <div class="section">
                            <i class="fas fa-angle-double-down fa-7x"></i>
                        </div>
                        <div class="section has-text-centered">
                            <div class="avatar">
                                <div class="image-upload">
                                    <img src="{{ pfp }}" width="150" height="150"/>
                                </div>
                            </div>
                            <p>
                                {{ mail }}
                            </p>
                        </div>
                        <div style="padding-left: 230px; padding-right: 230px">
                            <div style="background: #85bce6;" class="box">
                                <button class="button is-large is-dark is-focused has-text-centered">
                                    Request
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <form action="{{ url_for('pending-reqs') }}" id="reqs">
                <button class="button is-medium is-dark has-text-centered">
                    Pending Requests
                </button>
            </form>
        </div>
    </section>
{% endblock %}